<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<title> Registration Form</title>
    	<link rel ="stylesheet" href="/css/Reg.css">
		<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

	</head>
	<body bgcolor="#88c7ec">
		<div class="login-banner-div">
			<img src="http://www.chandusoft.com/images/logo/chandusoft_logo.png" alt="chandusoft logo">
		</div>
		<a href="http://localhost:8123/Registration">  Register  </a><br>
		<a href="http://localhost:8123/adminURL">  Login  </a>


	</body>


	<script>
		</script>
</html>
