<!doctype html>
<html>
<head>
    <title>Chat App</title>
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
     <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
     <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <style>
form {
  display: inline-block;
}
.field {
  padding-top: 10px;
  display: flex;
  flex-direction: column;
}
label {
  order: -1;
  padding-left: 5px;
  transition: all 0.3s ease-in;
  transform: translateY(20px);
  pointer-events: none;
}
input:focus + label {
  transform: translateY(-2px);
}
</style>
</head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<body bgcolor="#88c7ec">
		<div class="login-banner-div">
			<img src="http://www.chandusoft.com/images/logo/chandusoft_logo.png" alt="chandusoft logo">
        </div>
        <form class="form">
                <div class="field">
                  <input type="text">
                  <label>Name</label>
                </div>
                <div class="field">
                  <input type="text">
                  <label>Age</label>
                </div>
                <div class="field">
                        <input type="text">
                        <label>Age</label>
                      </div>
              </form>

</body>
</html>